.innerHome {
  height: 96vh;
  width: 70vw;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.leftHome {
  height: 100%;
  width: 30%;
  flex-direction: column;
}

.centerHome {
  height: 100%;
  width: 70%;
  border-left: 1px solid #ffffffdc;
}
